@import url("https://use.typekit.net/bjj0qdx.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}



.header img {
    width: 300px;
    top: 10px;
    left: 30px;
    position: relative;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.header a {
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}

.items img {
    width: 500px;
    height: auto;
}

.text {
    text-align: left;
    margin-left: 200px;
    line-height: 30px;
    color: white;
    margin-right: 110px;
}

.text h1 {
    font-size: 70px;
}

.text p {
    font-size: 18px;
    line-height: 25px;
}


.footer-info {
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;

}

.footer-info h2 {
    font-size: 27px;
    font-family: 'Shadows Into Light', cursive;
}

.contact,
.social,
.wauw,
.samenwerking {
    color: black;
    padding-top: 30px;
    width: 250px;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 15px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.samenwerking {
    width: 300px;
}

.social img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 20px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
}

.samenwerking img {
    object-fit: cover;
    width: 35px;
    display: flex;
    border-radius: 100px;
    padding: 5px;
}

section {
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}

section ul {
    display: flex;
    margin-bottom: 10px;
}

section ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background: #1c52a6;
    color: #fff;
}

.list {
    color: orange;
}

.list:hover {
    background-color: #1c52a6;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-right: 20px;
}


.items .itembox {
    position: relative;
    margin: 5px;
}

.itembox img {
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
}