@import url("https://use.typekit.net/bjj0qdx.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: orange;
}

::-webkit-scrollbar-thumb {
    background: #1c52a6;
}

/*Wauw-Tube*/
.text {
    text-align: left;
    margin-left: 200px;
    line-height: 30px;
    color: white;
    margin-right: 110px;
}

.text h1 {
    font-size: 70px;
}

.text p {
    font-size: 18px;
    line-height: 25px;
}


/*Footer*/
.footer-info {
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;

}

.contact h4 {
    border: 2px black solid;
    padding: 4px 20px;
    background-color: black;
    color: white;
}

.footer-info h2 {
    font-size: 27px;
    font-family: 'Shadows Into Light', cursive;
}

.contact,
.social,
.wauw,
.samenwerking {
    color: black;
    padding-top: 30px;
    width: 250px;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 15px;

}

.contact a {
    text-decoration: none;
    color: black;
}

.samenwerking {
    width: 300px;
}

.social img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 20px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
}

.samenwerking img {
    object-fit: cover;
    width: 35px;
    display: flex;
    border-radius: 100px;
    padding: 5px;
}


@media (max-width:940px) {
    .footer-info {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .samenwerking {
        width: 250px;
    }
}

@media (max-width:1024px) {
    .header img {
        width: 250px;
    }

    .header a {
        margin-left: 0px;
    }

    .left-header {
        margin-left: 70px;
    }

    .contact,
    .social,
    .wauw,
    .samenwerking {
        line-height: 23px;
    }

}

@media (max-width:768px) {
    .topnav {
        overflow: hidden;
        background-color: whitesmoke;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav img {
        margin-left: 2%;
        width: 15%;
    }

    .topnav a {
        font-weight: bold;
        color: orange;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: whitesmoke;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #1c52a6;
        color: orange;
    }

    .active {
        background-color: whitesmoke;
        color: white;
    }

}



@media (min-width:769px) {
    .topnav img {
        width: 20%;
    }

    .links {
        display: flex;
    }


    .links a {
        text-decoration: none;
        color: white;
    }

    .topnav {
        text-align: center;

    }

    .topnav a.icon {
        display: none;
    }

    .topnav li {
        display: inline-block;
        margin-right: 20%;
    }

    .topnav #myLinks {
        display: block !important;
        border: 2px solid #1c52a6;
        background-color: #1c52a6;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 1%;
    }

}

@media (min-width:977px) {
    .topnav li {
        font-size: 22px;
    }
}

@media (min-width:1100px) {
    .topnav li {
        font-size: 25px;
        margin-left: 2%;
    }
}


@media (max-width:321px) {
    .topnav {
        padding-bottom: 5%;
    }

    .topnav img {
        padding-top: 3%;
        width: 22%;
    }

    .footer-info h2 {
        font-size: 20px;
    }

    .footer-info p {
        font-size: 14px;
    }

    .contact h4 {
        font-size: 14px;
    }

    .social img {
        width: 35px;
        height: 35px;
    }

    .contact,
    .social,
    .wauw,
    .samenwerking {
        padding-top: 10%;
    }

}