/*Import Fonts*/
@import url("https://use.typekit.net/bjj0qdx.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');

/*Whole Page*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


/*Navigation*/
.header img {
    width: 300px;
    position: relative;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: white;
}

.header a {
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}

/*First introduction section*/
.main {
    margin-left: 20px;
    margin-right: 20px;
    background-color: orange;
    padding-top: 3%;
    padding-bottom: 6%;

}

.main {
    display: flex;
    justify-content: space-around;
}

.text {
    text-align: left;
    line-height: 20px;
    color: white;
}

.text h1 {
    font-size: 70px;
}

.text p {
    font-size: 18px;
    line-height: 25px;
}

span.wauw-text {
    font-family: 'Shadows Into Light';

}

.text a {
    text-decoration: none;
    color: white;
    border: 2px solid #00BFFF;
    padding: 5px 30px;
    background-color: #00BFFF;
    font-weight: bold;
    font-size: 18px;

}

.slider {
    padding-top: 2%;
    margin-left: 6%;
    width: 38%;
    height: 40%;
}

.slider video {
    width: 100%;
    height: 100%;
}


/*Workshop introductory section*/
.wrapper {
    background-image: url(Images/cuttingmarbackground.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background-position: center;
}



span.crea {
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

span.tief {
    font-family: 'Shadows Into Light', cursive;
}

.wrapper h2 {
    padding-top: 100px;
    margin-left: 30px;
    font-size: 25px;
    color: white;
    margin-top: 0;

}

.wrapper h1 {
    margin-left: 30px;
    font-size: 70px;
    color: white;

}

.wrapper p {
    margin-left: 30px;
    font-size: 18px;
    color: white;
}

.image-s {
    padding-top: 6%;
    width: 40%;
}

.image-s img {
    width: 85%;
}

/*Think work play section*/

.outerwrapper {
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    background-color: orange;
    line-height: 25px;
}

.outerwrapper h1 {
    margin-top: 0px;
    text-align: center;
    padding-top: 5%;
    color: white;
    font-size: 70px;
}

.outerwrapper p {
    text-align: center;
    font-size: 25px;
    color: white;
}

.outerwrapper span {
    font-family: 'Shadows Into Light', cursive;

}

.wrapper-think {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.wrapper-think h1 {
    font-size: 75px;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    text-align: center;
}

.wrapper-think button:hover {
    color: orange;
    transition-timing-function: ease;
}

.wrapper-think button {
    font-size: 75px;
    border: none;
    font-family: 'Shadows Into Light', cursive;
    color: #1c52a6;
    text-align: center;
    background-color: #e6e6e6;
}

.wrapper-think p {
    font-size: 18px;
    color: black;
    text-align: left;
    padding: 4px 20px;
}

.wrapper-think div {
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 20px;
}

.wrapper-think img {
    padding-bottom: 10%;
    width: 30%;
}

.work,
.play,
.think {
    padding-top: 3%;
    width: 25%;
}


/*Subscribe section*/


.button {
    padding-bottom: 100px;
    margin-top: 50px;
}

.button a {
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 100px;
    border: 2px solid orange;
    padding: 5px 40px;
    background-color: orange;
    color: white;
    transition: all 1s;
    display: inline-block;
    font-size: 18px;

}

.button a:hover {
    transform: translateY(-20px);
    background-color: #FFD700;
}

/*Footer*/
.footer-info {
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;

}

.contact h4 {
    border: 2px black solid;
    padding: 4px 20px;
    background-color: black;
    color: white;
}

.footer-info h2 {
    font-size: 27px;
    font-family: 'Shadows Into Light', cursive;
}

.contact,
.social,
.wauw,
.samenwerking {
    color: black;
    padding-top: 30px;
    width: 250px;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 15px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.samenwerking {
    width: 300px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
}

.social img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 20px;
}

.samenwerking img {
    object-fit: cover;
    width: 35px;
    display: flex;
    border-radius: 100px;
    padding: 5px;
}

.inschrijving {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-image: url(Images/cuttingmarbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    line-height: 27px;
}


.inschrijving h1 {
    margin-left: 50px;
    font-size: 70px;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-top: 50px;
}

.inschrijving p {
    padding-top: 18px;
    margin-left: 50px;
    font-size: 20px;
    color: white;
    text-align: center;

}



span.lid {
    font-family: 'Shadows Into Light', cursive;

}

/*Subscribe section*/
.inschrijving-box {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.inschrijving-box a {
    text-decoration: none;
    color: white;
}

.inschrijving-box span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.inschrijving-box div {
    transition: all 1s;
    background-color: orange;
    border: 2px solid #1c52a6;
    height: 120px;
}

.inschrijving-box div:hover {
    transform: translateY(-15px);
    transition-timing-function: ease;
    border: 2px solid #1c52a6;
}

.wauw-kids,
.wauw-vol,
.mix {
    border: 2px solid #1c52a6;
    width: 210px;
    border-radius: 10px;
    text-align: center;
}

.inschrijving-box h3 {
    padding-top: 10px;
    font-size: 25px;

}


.wauw-vol h3 {
    padding-top: 10px;
}


/*Animation*/
.left-header a {
    transition: color .5s;
}


.left-header a:hover {
    color: #1c52a6;
    transition-timing-function: ease;
}


.right-header a {
    transition: color .5s;
}


.right-header a:hover {
    color: orange;
    transition-timing-function: ease;
}



@media (max-width:1024px) {

    .wrapper-think .think p,
    .wrapper-think .work p,
    .wrapper-think .play p {
        color: black;
    }

    .text {
        text-align: left;
    }

    .slider {
        padding-top: 3%;
        width: 40%;
    }

    .main h1 {
        font-size: 50px;
    }

    .main h3 {
        font-size: 18px;
    }

    .main p {
        font-size: 15px;
    }

    .content h1 {
        font-size: 50px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 16px;
    }

    .image-s img {
        padding-top: 10%;
        width: 90%;
    }

    .outerwrapper h1 {
        font-size: 50px;
    }

    .outerwrapper p {
        color: white;
        font-size: 16px;
    }

    .work,
    .play,
    .think {
        width: 23%;
    }

    .contact h4 {
        font-size: 13px;
    }

    .contact,
    .social,
    .wauw,
    .samenwerking {
        line-height: 23px;
    }

    .inschrijving h1 {
        font-size: 50px;
    }

    .inschrijving {
        line-height: 20px;
    }

    .inschrijving p {
        font-size: 18px;
    }

    .header img {
        width: 250px;
    }

    .header a {
        margin-left: 0px;
    }

    .left-header {
        margin-left: 70px;
    }
}


@media (max-width:940px) {
    .footer-info {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .samenwerking {
        width: 250px;
    }
}


@media (max-width:768px) {

    .header img {
        width: 180px;
    }

    .header a {
        margin-left: 70px;
    }

    .left-header {
        margin-left: 10px;
    }


    .main {
        flex-direction: column-reverse;
    }

    .main .text {
        text-align: center;
    }

    .slider {
        margin-left: 25%;
        width: 50%;
    }

    .wrapper {
        line-height: 20px;
        flex-direction: row-reverse;
    }

    .image-s {
        width: 50%;
        padding-left: 2%;
        padding-top: 11%;
    }

    .wrapper .button {
        padding-bottom: 30px;
    }

    .outerwrapper p {
        font-size: 15px;
    }

    .wrapper-think button {
        font-size: 50px;
    }

    .context p {
        font-size: 15px;
    }

    .inschrijving-box {
        line-height: 25px;
    }
}


@media (max-width:680px) {

    .main h1 {
        font-size: 40px;

    }

    .wrapper {
        align-items: center;
    }

    .wrapper h1 {
        font-size: 40px;
    }

    .wrapper h2 {
        font-size: 18px;
    }

    .wrapper p {
        font-size: 15px;
    }



    .button a {
        margin-bottom: 2%;
    }

    .image-s {
        padding-top: 0;
        width: 50%;
    }

    .outerwrapper h1 {
        font-size: 40px;

    }

    .context h1 {
        font-size: 40px;

    }
}

@media (max-width:432px) {
    .wrapper {
        flex-direction: column;
        padding-bottom: 10%;
    }

    .image-s img {
        width: 100%;
        padding-top: 10%;
    }

    .wrapper-think {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .think,
    .play,
    .work {
        margin-bottom: 10%;
        width: 68%;
    }

    .wrapper h1,
    .main h1,
    .outerwrapper h1 {
        font-size: 35px;
    }

    .inschrijving h1 {
        margin-left: 0;
    }

    .inschrijving p {
        text-align: left;
    }

    .slider {
        margin-left: 15%;
        width: 70%;
    }
}

@media (max-width:426px) {
    .wrapper {
        flex-direction: column;
        padding-bottom: 10%;
    }

    .image-s img {
        width: 100%;
        padding-top: 10%;
    }

    .wrapper-think {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .think,
    .play,
    .work {
        margin-bottom: 10%;
        width: 68%;
    }

    .wrapper h1,
    .main h1,
    .outerwrapper h1 {
        font-size: 35px;
    }

    .inschrijving h1 {
        margin-left: 0;
    }

    .inschrijving p {
        text-align: left;
    }

    .slider {
        margin-left: 15%;
        width: 70%;
    }
}

@media (max-width:382px) {
    .inschrijving h1 {
        font-size: 30px;
    }
}

@media (max-width:321px) {

    .wrapper h1,
    .main h1,
    .outerwrapper h1,
    .context h1 {
        font-size: 30px;
    }

    .main h3 {
        font-size: 15px;
    }

    .wrapper p,
    .main p,
    .outerwrapper p,
    .context p {
        font-size: 13px;
    }

    .button a {
        padding: 4px 15px;
    }



    .inschrijving p {
        margin-left: 8%;
    }

}