@import url("https://use.typekit.net/bjj0qdx.css");

body {

    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.arrow-down img {
    width: 20px;
}

.header img {
    width: 15%;
}

.header {
    background-color: #dadada;
}


.navigation ul {
    display: flex;
    justify-content: center;
    top: 0;
    right: 20px;
}

.navigation ul li {
    margin-left: 20px;
    list-style: none;
}

.navigation li a {
    padding: 6px 15px;
    top: 0;
    right: 20px;
}