@import url("https://use.typekit.net/bjj0qdx.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}



.header img {
    width: 300px;
    top: 10px;
    left: 30px;
    position: relative;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.header a {
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: darkblue;
    font-size: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}


.main {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFBF00;
    padding-top: 50px;
    padding-bottom: 30px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.text {
    text-align: left;
    margin-left: 200px;
    line-height: 30px;
    color: white;
    margin-right: 110px;
}

.text h1 {
    font-size: 70px;
}

span.wauw-text {
    font-family: 'Shadows Into Light';

}

.text a {
    text-decoration: none;
    color: white;
    border: 2px solid #00BFFF;
    padding: 5px 30px;
    background-color: #00BFFF;
    font-weight: bold;
}

.slider {
    margin-left: 30px;
}

.slider img {
    object-fit: cover;
    width: 500px;
    border-radius: 20px;
}

.wrapper {
    background-color: #00BFFF;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}



span.crea {
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

span.tief {
    color: orange;
    font-family: 'Shadows Into Light', cursive;
}

.wrapper h2 {
    padding-top: 100px;
    margin-left: 30px;
    font-size: 25px;
    color: white;
    margin-top: 0;

}

.wrapper h1 {
    margin-left: 30px;
    font-size: 70px;
    color: white;

}

.wrapper p {
    margin-left: 30px;
    font-size: 20px;
    color: white;
}


.image-s img {
    object-fit: cover;
    margin-top: 50px;
    width: 550px;
    border-radius: 20px;
}

.button {
    padding-bottom: 100px;
    margin-top: 50px;
}

.button a {
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 100px;
    border: 2px solid #FFDA00;
    padding: 5px 40px;
    background-color: #FFD700;
    color: white;
    transition: all 1s;
    display: inline-block;
    font-size: 20px;

}

.button a:hover {
    transform: translateY(-20px);
    background-color: #FFD700;
}

.partners {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #edeae5;
}

.partners h1 {
    margin-top: 0;
    padding-top: 30px;
    text-align: center;

}


.overheid,
.cultureel,
.bedrijven {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    width: 200px;
    height: 420px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.overheid img,
.cultureel img,
.bedrijven img {
    object-fit: cover;
    width: 100px;
    border-radius: 100px;
    margin-top: 20px
}

.footer-info {
    background-color: #00BFFF;
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.contact,
.social,
.wauw {
    color: white;
    padding-top: 30px;
    width: 250px;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 15px;
}

.social img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 20px;
}



.contact h6 {
    margin-top: 0;
}