/*Import fonts*/
@import url("https://use.typekit.net/bjj0qdx.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');


/* ScrollBar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: orange;
}

::-webkit-scrollbar-thumb {
    background: #1c52a6;
}

/*Whole page*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*Navigation*/
#myLinks a {
    transition: color 0.8s;
}

#myLinks a:hover {
    color: orange;
    transition-timing-function: ease-in-out;
}

/*Workshop gallery section*/
.main {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 3%;
    padding-bottom: 60px;
    background-image: url(./../Images/cuttingmarbackground.png);
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    text-align: left;
    margin-left: 200px;
    line-height: 30px;
    color: white;
    margin-right: 10px;
}

.text h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 70px;
    margin-left: 30%;
    margin-top: 1%;

}

.text h1 span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
}

.text p {
    font-size: 18px;
    line-height: 25px;
    margin-left: 10%;
}

.text a {
    text-decoration: none;
    color: white;
    border: 2px solid #1c52a6;
    padding: 5px 30px;
    background-color: #1c52a6;
    font-weight: bold;
    font-size: 18px;

}

/*Legend for the carousel*/
.legende {
    background-color: white;
    color: #ffd900e5;
    font-size: 16px;
    width: 13%;
    height: 18%;
    padding-left: 10px;
    margin-left: 2%;
    margin-top: -17%;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 2%;
}

.L1 {
    color: #1c52a6;
    font-size: 16px;
}

.L2 {
    color: #8cc63f;
    font-size: 16px;
}

.L3 {
    color: #ff931e;
    font-size: 16px;
}

.L5 {
    color: black;
    font-size: 18px;

}

.L6 {
    color: #ffd900e5;
    font-size: 16px;
}



/*Owl-carousel*/
.cover {
    width: 100%;
    display: flex;
    align-items: center;
}

.cover .carousel {
    max-width: 500px;
    margin: auto;
    padding: 0 30px;
    margin-top: 60px;
}

@media (min-width:1440px) {
    .cover .carousel {
        max-width: 1200px;
    }

    .card {
        width: 350px;
    }
}

@media (min-width:1024) {
    .cover .carousel {
        max-width: 1200px;
    }

    .card {
        width: 350px;
    }
}

.carousel .card {
    background: #e6e6e6;
    height: 500px;
    text-align: center;
    color: black;
    margin: 20px 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: scale-down;
    height: 40%;
    padding-top: 10px;
}

.card h1 {
    font-size: 20px;
    margin: 10px;
}

.card p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.card-1 h1 {
    color: #ffd900e5;
}

.card-1 a {
    text-decoration: none;
    color: white;
    border: 2px solid #ffd900e5;
    padding: 5px 30px;
    background-color: #ffd900e5;
    font-weight: bold;
    font-size: 18px;
}

.card-2 h1 {
    color: #1c52a6;
}

.card-2 a {
    text-decoration: none;
    color: white;
    border: 2px solid #1c52a6;
    padding: 5px 30px;
    background-color: #1c52a6;
    font-weight: bold;
    font-size: 18px;
}

.card-3 h1 {
    color: #8cc63f;
}

.card-3 img {
    object-fit: contain;
    padding-top: 10px;
}

.card-3 a {
    text-decoration: none;
    color: white;
    border: 2px solid #8cc63f;
    padding: 5px 30px;
    background-color: #8cc63f;
    font-weight: bold;
    font-size: 18px;
}

.card-4 h1 {
    color: #ff931e;
}

.card-4 img {
    object-fit: contain;
    padding-top: 10px;
}

.card-4 a {
    text-decoration: none;
    color: white;
    border: 2px solid #ff931e;
    padding: 5px 30px;
    background-color: #ff931e;
    font-weight: bold;
    font-size: 18px;
}

.card-5 h1 {
    color: #ffda00;
}

.card-5 a {
    text-decoration: none;
    color: white;
    border: 2px solid #ffda00;
    padding: 5px 30px;
    background-color: #ffda00;
    font-weight: bold;
    font-size: 18px;
}

.drijvstad {
    padding-top: 18%;
}

.bikkenstad {
    padding-top: 23%;
}

.zakont {
    padding-top: 8%;
}

.schaal {
    padding-top: 2%;
}

/* Gallery section*/
.hoofd h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 70px;
    margin-top: 1%;
    text-align: center;
    color: orange;
}

.hoofd h1 span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    color: orange;

}

section {
    padding: 20px;
    padding-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: whitesmoke;
}

section h1 {
    font-size: 70px;
    padding-bottom: 5%;
}

section ul {
    display: flex;
    margin-bottom: 10px;
    margin-top: -40px;
    justify-content: space-evenly;

}

section ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
}

section ul li.active {
    background: #1c52a6;
    color: #fff;
}

.list {
    color: orange;
}

.list-gal {
    width: 100%;
}

.list:hover {
    background-color: #1c52a6;
}

.items {
    background-color: #1c52a6;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    justify-content: space-between;
    width: 100%;
}


.items .itembox {
    position: relative;
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.itembox img {
    top: 0;
    left: 0;
    width: 263px;
    height: 237px;
    object-fit: cover;
}

.box-img-wrapper {
    display: inline-block;
}

.hover-active {
    background-color: #1c52a6;
}

/*Calendar section*/
.events {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffa500;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}

.content span {
    font-family: 'Shadows Into Light', cursive;
}

.content h1 {
    font-size: 70px;
    color: white;
}

.content p {
    font-size: 18px;
    color: white;
}




span.lid {
    font-family: 'Shadows Into Light', cursive;

}

.events {
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}



.reserveer a {
    text-decoration: none;
    color: white;
    background-color: #1c52a6;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: bold;
}

.reserveer {
    margin-top: 10%;
    transition: transform 0.8s;

}

.reserveer:hover {
    transform: translateY(-20px);
    transition-timing-function: ease-in-out;
}

/*Calendar list*/
.kalender {
    background-color: white;
    width: 700px;
    margin: 20px;
    border-radius: 20px;
}

.scroll-calendar {
    width: auto;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 20px;
}

.kalender {
    padding-left: 10px;
}

.kalender h1 {
    margin-top: 50px;
}

.kalender h3 {
    font-size: 20px;
    margin-bottom: auto;
}

.kalender p {
    font-size: 18px;
    margin-top: auto;
}

.kalender h1 span {
    font-family: 'Shadows Into Light', bold;
    font-size: 35px;

}

.kalender a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: bold;
}

.kal-1 h1 {
    margin-top: auto;
}

/*Footer*/
.footer-info {
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.contact h4 {
    border: 2px black solid;
    padding: 4px 20px;
    background-color: black;
    color: white;
}

.contact a {
    text-decoration: none;
    color: black;
}

.footer-info h2 {
    font-size: 27px;
    font-family: 'Shadows Into Light', cursive;
}


.contact,
.social,
.wauw,
.samenwerking {
    color: black;
    padding-top: 30px;
    width: 250px;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 15px;
}

.samenwerking {
    width: 300px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
}

.social img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 20px;
}

.samenwerking img {
    object-fit: cover;
    width: 35px;
    display: flex;
    border-radius: 100px;
    padding: 5px;
}

.left-header a {
    transition: color .5s;
}


.left-header a:hover {
    color: #1c52a6;
    transition-timing-function: ease;
}


.right-header a {
    transition: color .5s;
}


.right-header a:hover {
    color: orange;
    transition-timing-function: ease;
}


@media (max-width:1024px) {
    .header img {
        width: 250px;
    }

    .header a {
        margin-left: 0px;
    }

    .left-header {
        margin-left: 70px;
    }

    .text {

        margin-right: 0;
    }


    .text h1 {
        margin-left: 23%;
        font-size: 50px;
    }

    .text p {
        margin-left: -1%;
        font-size: 16px;
        font-weight: normal;
    }

    .text h1 span {
        font-size: 50px;
    }

    .owl-item {
        width: 30px;
    }

    .cover {
        width: 100%;
    }

    .contact,
    .social,
    .wauw,
    .samenwerking {
        line-height: 23px;
    }

    .inschrijving h1 {
        font-size: 50px;
    }

    .inschrijving {
        line-height: 20px;
    }

    .inschrijving p {
        font-size: 18px;
    }

    .hoofd h1 {
        font-size: 50px;
    }

    .hoofd h1 span {
        font-size: 50px;
    }

    .list-gal {
        width: 90%;
    }

    .items {
        border-radius: 0px;
    }

    .itembox img {
        border-radius: 0px;
        width: 18%;
        height: 150px;
    }

    .content h1 {
        font-size: 50px;
    }


}



@media (max-width:940px) {
    .legende {
        padding-right: 5%;
    }

    .footer-info {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .samenwerking {
        width: 250px;
    }

    .list-gal {
        display: block;
        margin-left: 20%;
        width: 56%;

    }
}

@media (max-width:768px) {
    .text {
        padding-top: 3%;
        width: 50%;

        margin-bottom: -40%;
    }

    .legende {
        padding-right: 10%;
    }

    .topnav {
        overflow: hidden;
        background-color: whitesmoke;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav img {
        margin-left: 2%;
        width: 15%;
    }

    .topnav a {
        font-weight: bold;
        color: orange;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: whitesmoke;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #1c52a6;
        color: orange;
    }

    .active {
        background-color: whitesmoke;
        color: white;
    }

    .events {
        text-align: center;
        flex-direction: column;
    }

    .kalender {
        width: 90%;
        margin-left: 5%;
    }

    .list-gal {
        display: block;
        margin-left: 20%;
        width: 56%;
    }

    ul.links {
        color: orange;
    }


    .text h1 {
        text-align: center;
        margin-left: -13%;
        font-size: 50px;
    }

    .text h1 span {
        font-size: 50px;
    }

    .text p {
        margin-left: -1%;
        font-size: 15px;
        font-weight: normal;
        padding-bottom: 30%;
    }

    .legende {
        display: none;
    }

    .list {
        font-size: 15px;
    }

    .content p {
        font-size: 16px;
    }

    .kalender h3 {
        font-size: 18px;
    }




}

@media (max-width:426px) {

    .list-gal {
        margin-left: 10%;
    }

    .content h1,
    .hoofd h1,
    .hoofd h1 span {
        font-size: 35px;
    }

    .content p {
        font-size: 15px;
        text-align: left;
    }

    .kalender {
        margin-left: 4%;
    }

    .items {
        margin-top: 10%;
    }

    .itembox img {
        width: 20%;
        height: 100px;
    }

}



@media (min-width:769px) {
    .topnav img {
        width: 20%;
    }

    .links {
        display: flex;

    }


    .links a {
        text-decoration: none;
        color: white;
    }

    .topnav {
        text-align: center;

    }

    .topnav a.icon {
        display: none;
    }

    .topnav li {
        display: inline-block;
        margin-right: 20%;
    }

    .topnav #myLinks {
        display: block !important;
        border: 2px solid #1c52a6;
        background-color: #1c52a6;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 1%;
    }

    .content h1 {
        font-size: 45px;
    }

    .kalender h3 {
        font-size: 15px;
    }


}

@media (min-width:977px) {
    .topnav li {
        font-size: 22px;
    }
}

@media (min-width:1100px) {
    .topnav li {
        font-size: 25px;
        margin-left: 2%;
    }
}


@media (max-width:321px) {
    .list-gal {
        padding-top: 10%;
        width: 75%;
        margin-left: 1%;
        padding-bottom: 10%;

    }

    .itembox img {
        width: 20%;
        height: 47px;
    }


    .topnav img {
        padding-top: 3%;
        width: 22%;
    }

    .text h1 {
        padding-top: 7%;
        margin-left: -180%;
        font-size: 35px;

    }

    .text h1 span {
        font-size: 35px;
    }

    .text p {
        margin-left: -160%;
        text-align: center;
        padding-left: 20%;
        padding-right: 50%;
        font-size: 16px;
        font-weight: normal;
        padding-bottom: 30%;
    }

    .legende {
        display: none;
    }

    .footer-info h2 {
        font-size: 20px;
    }

    .footer-info p {
        font-size: 14px;
    }

    .contact h4 {
        font-size: 14px;
    }

    .social img {
        width: 35px;
        height: 35px;
    }

    .contact,
    .social,
    .wauw,
    .samenwerking {
        padding-top: 10%;
    }

    .kalender h1 {
        font-size: 30px;
    }

    .kalender h3 {
        font-size: 18px;

    }

    .kalender p {
        font-size: 16px;

    }

    .kalender a {
        font-size: 16px;
    }
}