/*Import fonts*/
@import url("https://use.typekit.net/bjj0qdx.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Domine:wght@700&family=Inter:wght@300;400;600&family=Public+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');

/*Whole page*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*Navigation*/
.header img {
    width: 300px;
    left: 30px;
    position: relative;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.header a {
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}

/*Workshop gallery section*/
.main {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #00bfff;
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: url(/Images/CuttingMat.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.main {
    display: flex;
    justify-content: space-around;
}

div .legend {
    background-color: white;
}

.text {
    text-align: left;
    margin-left: 200px;
    line-height: 30px;
    color: white;
    margin-right: 110px;
}

.text h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top: 1%;

}

.text h1 span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    color: orange;

}

.text p {
    font-size: 18px;
    line-height: 25px;
}

.text a {
    text-decoration: none;
    color: white;
    border: 2px solid #1c52a6;
    padding: 5px 30px;
    background-color: #1c52a6;
    font-weight: bold;
    font-size: 18px;

}

/*Owl-carousel*/
.cover {
    width: 100%;
    display: flex;
    align-items: center;
    /*min-height: 100vh;*/
}

.cover .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    background: red;
    /*line-height: 200px;*/
    height: 200px;
    text-align: center;
    color: #fff;
    /*font-size: 90px;*/
    /*font-weight: 600;*/
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card p {
    font-size: 18px;
}

.card a {
    font-size: 18px;
}

.carousel .card-1 {
    background-color: red;
}

.carousel .card-2 {
    background-color: blue;
}

.carousel .card-3 {
    background-color: yellow;
}

.carousel .card-4 {
    background-color: purple;
}

.carousel .card-5 {
    background-color: green;
}

/*Think work play section*/
.wrapper {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.wrapper h1 {
    font-size: 75px;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    text-align: center;
    padding-top: 10%;

}

.wrapper button:hover {
    color: orange;
    transition-timing-function: ease;
}

.wrapper button {
    font-size: 75px;
    border: none;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    text-align: center;
    padding-top: 0%;
    background-color: #e6e6e6;
}

.wrapper h3 {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    font-size: 20px;
    color: black;
    text-align: left;
}

.wrapper div {
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 20px;
}

.wrapper img {
    padding-bottom: 10%;
}

.work {
    margin-top: 10%;
}

.play {
    margin-top: 10%;
}

/*Calendar section*/
.events {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffa500;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}

.content span {
    font-family: 'Shadows Into Light', cursive;
}

.content h1 {
    font-size: 70px;
    color: white;
}

.content p {
    font-size: 18px;
    color: white;
}




span.lid {
    font-family: 'Shadows Into Light', cursive;

}

.events {
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
    margin-top: 50px;
}



.reserveer a {
    text-decoration: none;
    color: white;
    background-color: #1c52a6;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: bold;
}

.reserveer {
    margin-top: 10%;
    transition: transform 0.8s;

}

.reserveer:hover {
    transform: translateY(-20px);
    transition-timing-function: ease-in-out;
}

.kalender {
    background-color: white;
    padding: 15%;
}

/*Footer*/
.footer-info {
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    height: 250px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;

}

.footer-info h2 {
    font-size: 27px;
    font-family: 'Shadows Into Light', cursive;
}

.contact,
.social,
.wauw,
.samenwerking {
    color: black;
    padding-top: 30px;
    width: 250px;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 15px;
}

.samenwerking {
    width: 300px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
}

.social img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 20px;
}

.samenwerking img {
    object-fit: cover;
    width: 35px;
    display: flex;
    border-radius: 100px;
    padding: 5px;
}

.left-header a {
    transition: color .5s;
}


.left-header a:hover {
    color: #1c52a6;
    transition-timing-function: ease;
}


.right-header a {
    transition: color .5s;
}


.right-header a:hover {
    color: orange;
    transition-timing-function: ease;
}

@media (max-width:1024px) {

    .right-header {
        margin-left: 10%;
    }

    .main p {
        font-size: 15px;
    }

    .wrapper img {
        width: 50%;
    }

    .events p {
        font-size: 15px;
    }

    .footer-info h2 {
        font-size: 21px;
    }

    .footer-info p,
    .footer-info h4 {
        font-size: 13px;
    }

}


@media (max-width:768px) {}